:root{
    --primary-color: #321253;
    --secondary-color: #7439c7;
    --secondary-color-shadow: #5b2d9c;
    --tertiary-color: #ff3ddc;
    --text-color: #4a248b;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

.container{
    padding: 20px;
    width: 500px;
    background-color: white;
    height: fit-content;
}

label {
    color: var(--text-color);
    font-weight: 900;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    margin-bottom: 4px;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: var(--text-color);
}

button {
    background: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    font-weight: bolder;
    font-size: 15px;
}
button:hover{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
button:active{
    border: none;
    background-color: var(--secondary-color-shadow);
}

#delete-btn {
    background: white;
    color: var(--secondary-color);
}
#delete-btn:active{
    background-color: rgb(250, 250, 250);
}